@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@300&family=Roboto+Condensed:wght@300&display=swap');
* {
    font-family: "Battambang", "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif;
    letter-spacing: 0;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 30vh;
}
.home h1{
    color: #fff;
    text-transform: uppercase;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: bold !important;
}


.btn {
    font-size: 1.2em !important;
    padding: 12px 25px !important;
    margin: 15px;
    margin-right: 0;
    font-family: "Battambang", "Roboto Condensed", Helvetica, Arial, Verdana, sans-serif;
    border-radius: 15px;
}

a:focus,
a:hover {
    color: #23527c;
    text-decoration: none !important;
}

body {
    background-color: #eee !important;
}

.bg-color-dark-purple {
    background-color: #003764;
}

.color-dark-purple {
    color: #003764 !important;
    font-weight: bold;
}

.bg-color-light-yellow {
    background-color: #fff400;
}

.color-light-yellow {
    color: #fff400 !important;
}

.navbar {
    margin-bottom: 0 !important;
}

.nav,
.navbar-nav {
    justify-content: end;
}

.top-nav {
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
}

.top-nav.hidden {
    transition: all 0.5s ease-in-out;
    top: -200px;
}

.top-nav .first-topnav {
    background-color: #006790;
}

.top-nav .nav .nav-link {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    transition: all 0.16s ease-in-out;
}

.navbar-toggler {
    border: none;
    padding: 0;
    outline: none;
}

.nav-link {
    padding: 0.5rem;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav .nav-item .nav-link {
    color: #0c0b0b !important;
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(202, 202, 202) !important;
}

.navbar-nav .nav-link {
    color: #0c0b0b !important;
    font-weight: 400;
    font-size: 16px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active {
    color: rgba(0, 0, 0, 0.5) !important;
    font-weight: 400;
    font-size: 16px;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: transparent !important;
}

.dropdown-menu {
    background: #0c0b0b;
    padding: 0;
}

.dropdown-item {
    position: relative;
    font-size: 1.2em;
    font-weight: 500;
}

.dropdown-item:hover,
.dropdown-item:focus {
    text-decoration: none;
}

.dropend .dropdown-toggle::after {
    display: block;
    float: right;
    line-height: 30px;
}

.btn-top-style {
    font-size: 14px !important;
    padding: 10px 20px !important;
}


.btn-read-more {
    color: #000;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
}

.btn-read-more::after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #000;
    padding: 0 2px;
    pointer-events: none;
}

/*======================================
|                 Footer
========================================*/
footer h4 {
    color: rgba(255, 255, 255, 0.5);
}

footer ul {
    padding-left: 0;
}

footer ul li {
    list-style: none;
    line-height: 1.8;
    color: #fff;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 250ms ease-out;
    text-transform: capitalize;
    font-size: 13px;
}

footer ul li a:hover {
    color: rgba(255, 255, 255, 0.5) !important;
}

.dropdown-item {
    text-transform: capitalize;
    padding: 8px 18px;
}

footer ul li a {
    color: rgb(255, 255, 255) !important;
    /* font-size: 1.5rem !important; */
    line-break: anywhere;
}

footer ul li a::after {
    display: none !important;
}

footer ul li .dropdown-item:hover,
footer ul li .dropdown-item:focus {
    background-color: transparent !important;
}

footer ul li ul li a,
footer ul li {
    text-decoration: none;
    transition: all 250ms ease-out;
    text-transform: none;
    font-size: 13px !important;
    line-break: auto;
    font-weight: 500;
}

footer .nav {
    justify-content: center;
}

footer ul li ul li a:hover {
    color: rgb(200, 200, 200) !important;
}


footer ul.icon-group li a:hover {
    background-color: none;
}

.nav>li.active>a {
    background-color: #e9ecef;
    text-decoration: none;
}

.navbar-nav .nav-item.active>.dropdown-item, .dropdown-item.active, .dropdown-item:active {
    background-color: #e9ecef;
    color: #0c0b0b !important;
    text-decoration: none;

}

.navbar-nav .nav-item .submenu .nav-item.active>.dropdown-item {
    background-color: #e9ecef;
    color: #0c0b0b !important;
    text-decoration: none;
}


.offcanvas-header {
    display: none;
}

.btn {
    display: inline-block;
}

.text-center {
    justify-content: center;
}


.copy-right {
    background: #006790;
}


.copy-right p {
    color: #fff;
}

footer ul li ul li a,
footer ul li,
footer ul li a {
    text-decoration: none;
    transition: all 250ms ease-out;
    text-transform: none;
    font-size: 13px !important;
    line-break: auto;
}

footer ul .nav-item a:before {
    content: "\203A";
    float: left;
    font-family: "icomoon";
    font-size: 13px;
    margin: 0;
    line-height: 18px;
    margin-right: 3px;
    top: 5px;
}

.dropdown .footer {
    padding: 5px 0;
    font-weight: bold;
    color: #fff;
}

p {
    margin-bottom: 0;
}

.row {
    margin: 0;
}

.offcanvas {
    background-color: #003764 !important;
}

.btn-group-lg>.btn,
.btn-lg:hover {
    background-color: #003764;
    color: #fff;
}

.read-more::after,
.btn-send::after {
    content: '>';
    font: 17px "Consolas", monospace;
    color: #fff;
    padding: 0 2px;
    pointer-events: none;
}

.text-uppercase {
    text-decoration: none;
    border-radius: 4px;
    padding: 5px;
}

.read-more::after {
    color: #fff;
}

.read-more:hover {
    background-color: #012642;
    color: #fff !important;
}

.read-more:hover::after {
    color: #fff;
}

.btn-send,
.btn-signup {
    border: 1px solid #ccc;
    background-color: #337ab7;
    color: #fff !important;
}

.btn-send:hover,
.btn-signup:hover {
    background-color: #012642;
    color: #fff !important;
}

.btn-send::after {
    color: #fff;
}

.btn-send:hover::after {
    color: #fff;
}

.read-more-news::after {
    color: #7b7a7a;
}

.form-group span {
    font-size: 14px;
    padding: 0;
    padding-top: 5px;
}

span,
span a {
    font-size: 13px;
    color: #000;
    text-decoration: none;
}
.apply_loan{
    background-color: #fff;
}
.apply_loan h5{
    margin: 20px 0;
}
.apply_loan label{
    margin: 5px 0;
}
#owl-carousel-adverti img{
    border-radius: 10px;
}
